*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#info {
    margin: auto;
    width: 100%;
    height: 100px;
    /* border: 3px solid black; */
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    background-color: gray;
    color: white;
    justify-content: space-between;
}
#logOutBtn {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    background-color: rgb(39, 39, 38);
    border-radius: 10px;
}


#logOutBtn:hover {
    background-color: rgb(72, 77, 77);
}
#logo {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: white;
}

#CurrUser {
    margin-top: 30px;
}

#MainBody {
    width: 100%;
    margin: auto;
    /* border: 3px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(to right, rgb(132, 132, 235), rgb(209, 209, 94));
}

#part1 {
    width: 500px;
    /* border: 3px solid gray; */
    height: 80vh;
    text-align: center;
}
/* https://cdn4.vectorstock.com/i/1000x1000/98/18/color-scene-background-front-view-web-developer-vector-15519818.jpg */
#part2 {
    width: 500px;
    /* border: 3px solid gray; */
    height: 80vh;
   background-image: url(../todoApp/color-scene-background-front-view-web-developer-vector-15519818-removebg-preview.png);
   background-repeat: no-repeat;
   background-size: cover;
}

#todoItem {
    line-height: 40px;
    width: 90%;
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: large;
    color: aliceblue;
    background-color: grey;
    cursor: cell;
}

#addTodo {
width: 200px;
height: 40px;
margin-top: 10px;
background-color: green;
border: none;
border-radius: 10px;
color: white;
font-size: large;
}

#addTodo:hover {
    background-color: rgb(94, 233, 94);
}

#lists {
    list-style-type: none;
     
}
#spn {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    gap: 100px;
    background-color: gray;
    line-height: 30px;
    color: white;
    margin-top: 20px;
    font-size: larger;
    /* text-align: justify; */

}
#todos {
    list-style-type: none;
}
#spn i {
    cursor: pointer;
}

@media(max-width : 1140px){
    #MainBody{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #part2 {
        background-size: contain;  
    }
    /* #info {
        width: 100%; 
         padding-left: 0px;
    } */
}

@media(max-width : 500px) {
    #part2 {
        width: 100%;
    }
    #part1 {
        width: 100%;
        margin-top: -80px;
    }
    #info {
        width: 100%;
        padding-left: 0;
    }
   
}
@media(max-width : 450px) {
    #part1 {
        width: 100%;
        margin-top: -110px;
    }
}
@media(max-width : 400px) {
    #part1 {
        width: 100%;
        margin-top: -180px;
    }
}

/* .dis {
    display: none;
} */


#delAcc {
    width: 100%;
    height: 100px;
    /* background-color: pink; */
    margin-top: 10px;
    padding-top: 10px;
}

#delBtn{
width: 50%;
height: 50%;
background-color:  rgb(252, 91, 91);
color: white;
border: none;
border-radius: 15px;
font-size: larger;
font-weight: bold;
transition: 0.5s;
}
/* body {
    background: linear-gradient((to right, rgb(132, 132, 235), rgb(209, 209, 94)));
} */
#delBtn:hover {
/* border: 2px solid yellow; */
background-color:red ;
}

#CrossBTN:hover {
color: red;
}